.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  background-color: $secondary-bgc;

  .footer-box {
    @include for-size(tablet) {
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin-bottom: 60px;
    }
  }

  .container {
    @include for-size(desktop) {
      display: flex;
      align-items: baseline;
    }
  }

  .address-container {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
      text-align: center;
    }
    @include for-size(desktop) {
      text-align: start;
    }
  }

  .logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .item:not(:last-child) {
    margin-bottom: 9px;
  }

  .contact-link {
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }

  .location-link {
    font-style: normal;
    text-decoration: none;
    color: $whiteColor;
  }
}

.social-network {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-top: 0;
  }

  padding-top: 12px;
  margin-left: 70px;

  .title {
    display: inline-block;

    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $whiteColor;
  }

  .icons-list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons-link {
    background: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
  }
  .social-icons-svg {
    fill: $whiteColor;
  }

  .social-icons-link:hover,
  .social-icons-link:focus {
    background: $accentColor;
  }
}
