.page-header {
  position: relative;
  &--border {
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and(min-width:768px) {
      height: 80px;
    }
  }
}

.menu-button {
  display: none;

  .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $accentColor;
    // outline-color: yellowgreen;
  }

  @include for-size(mobile-only) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;

    background-color: transparent;
    transition: 250ms $timing-function;
  }
}

.menu-container {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.68;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    background-color: $whiteColor;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
      z-index: 1;
    }
  }

  @media screen and (min-width: 768px) {
    @include centeredFlex();
    flex-grow: 1;
    margin-left: 88px;
    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1199px) {
    margin-left: auto;
  }

  .nav {
    &__list {
      text-align: center;

      @media screen and (min-width: 768px) {
        display: flex;
      }
    }

    @media screen and (min-width: 768px) {
      &__item:not(:last-child) {
        margin-right: 50px;
      }
    }
    @media screen and (min-width: 1199px) {
      margin-left: 93px;
    }

    &__link {
      display: inline-block;
      position: relative;

      padding-top: 32px;
      padding-bottom: 32px;
      height: 80px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      color: $secondaryTextColor;

      transition: color 250ms $timing-function;

      &:hover,
      &:focus {
        color: $accentColor;
      }
    }

    .link.current {
      color: $accentColor;

      &::after {
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        content: "";
        width: 100%;
        height: 5px;

        border-radius: 4px;
        background-color: $accentColor;
      }
    }
  }
}
