.icons-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social-icons-link {
  background: rgba(255, 255, 255, 0.1);
  // margin-right: 10px;
}
.social-icons-svg {
  fill: $whiteColor;
}

.social-icons-link:hover,
.social-icons-link:focus {
  background: $accentColor;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-svg {
  height: 20px;
  width: 20px;
  fill: $svg-icons;
  transition: fill 250ms $timing-function;
}

.social-icons-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;

  transition: 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accentColor;

    & .social-icons-svg,
    & .social-icons-svg {
      fill: $whiteColor;
    }
  }
}
