.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;

  @include for-size(tablet) {
    max-width: 768px;
    height: 400px;
  }

  @include for-size(desktop) {
    max-width: 1600px;
    height: 600px;
  }

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/overlay/mobile/mobile.jpg);

  background-color: $secondary-bgc;
  background-position: center;
  background-size: 480px 400px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../img/overlay/mobile/mobile@2x.jpg);
  }

  @include for-size(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/overlay/tablet/tablet.jpg);

    background-size: 768px 400px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../img/overlay/tablet/tablet@2x.jpg);
    }
  }

  @include for-size(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/overlay/desktop/desktop.jpg);

    background-size: 1600px 600px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../img/overlay/desktop/desktop@2x.jpg);
    }
  }

  &__title {
    // display: block;
    // text-align: center;

    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $whiteColor;

    @include for-size(desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
