.team {
  background-color: $third-bgc;

  &__list {
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }

    @include for-size(desktop) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }
  }

  &__heading {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    color: $secondaryTextColor;

    @include for-size(desktop) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
    }
  }

  .item {
    margin-top: 30px;

    background-color: $whiteColor;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include for-size(tablet) {
      margin-left: 30px;
      flex-basis: calc(100% / 2 - 30px);
    }
    @include for-size(desktop) {
      margin-left: 30px;
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    margin-bottom: 10px;
  }

  .position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    margin-bottom: 16px;
  }

  .team-content {
    padding: 30px 32px;
  }
}
